/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
   height: 100%;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
  background-color: #212118;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
#main{
margin: auto;
 width: 60%;
 background-color: #369;
 padding: 20px;

}
