<div *ngIf="hero">
            <h2 style="color:#fff"> {{ hero.name }} details! </h2> 
            <div> <label> id: </label> {{ hero.id }} </div>
              <div> 
              <label> name: </label> 
              <input [(ngModel)] = " hero.name " placeholder ="name" > 
            </div>
              <button style="margin-top:20px;height:30px;width:50px" (click)="goBack()">Back</button>
              <button style="margin-top:20px;height:30px;width:50px;margin-left:10px" (click)="save()">Save</button>
              

            </div>