
            <h2 style="color:#fff"> My Heroes </h2>
            <ul class="heroes">
                    <li *ngFor=" let hero of heroes"
                     [class.selected]="hero===selectedHero"
                     (click)="onSelect(hero)">
                        <span class="badge">{{ hero.id}}</span>
                        <span> {{ hero.name}}</span>
                        <button class ="delete" (click)="delete(hero); $event.stopPropagation ()">x</button>
                    </li>
            </ul>

            <div *ngIf="selectedHero">
             <h2 style="color:#fff"> 
             {{ selectedHero.name|uppercase }} is my hero.
             </h2>
            <button (click)="gotoDetail()" > View Details</button>
            </div>

            <div>
                <label>Hero Name: </label><input #heroName  />
                <button style="height:30px;width:50px;margin-left:10px" (click)="add(heroName.value); heroName.value=''" >Add</button>
              </div>